[Unit]
Description=Chromium Kiosk Mode
After=user@1000.service
Requires=user@1000.service network.target bluetooth.service
ConditionPathExists=/run/user/1000/bus

[Service]
Type=simple
User=feralfile
Group=feralfile
Environment="XDG_RUNTIME_DIR=/run/user/1000"
ExecStart=/home/feralfile/scripts/start-kiosk.sh
ExecStopPost=systemctl stop chromium-ready.target
StandardOutput=append:/home/feralfile/.logs/chromium.log
StandardError=append:/home/feralfile/.logs/chromium.log
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target