[Unit]
Description=Set next boot target to internal UEFI OS
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/home/feralfile/scripts/set-next-boot.sh

[Install]
WantedBy=multi-user.target